*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: 0;
    outline: 0;
    cursor: pointer;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#colorCodeMain{
    width: 60vw;
    height: 15vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 1rem;
    background-color: rgb(229, 229, 229);
    margin-bottom: 2rem;
    color : rgb(39, 39, 39);
}

#hex{
    font-weight: 600;
    color: black;
}

#copyBtn{
    width: 8rem;
    height: 4rem;
    border: 2px solid rgb(0, 179, 255);
    font-size: 1.6rem;
    background-color: white;
    color: rgb(0, 127, 182);
    transition: 0.2s;
    border-radius: 1rem;
}

#copyBtn:hover{
    background-color: rgb(0, 179, 255);
    color: white;
}

#changeColorBtn{
    width: 15rem;
    height: 5rem;
    border-radius: 2.5rem;
    font-size: 1.8rem;
    background-color: green;
    color: white;
    transition: 0.2s;
}

#changeColorBtn:hover{
    background-color: rgb(4, 163, 4);
}